/*-------------------------- ESTILOS DEL HEADER ---------------- */

.navbar {
    transition: all 0.5s !important;
    box-shadow: 0px 0px 5px rgba(1, 41, 112, 0.1) !important;
    background-color: var(--color-secondary-container-gg) !important;
  }
  
  /* ---------------------------------------- */
  
  
  .boton-header {
    background: rgba(36, 127, 192, 1) 100%;
    border-radius: 100px;
  }
  
  .offcanvas-header {
    border-radius: 10px;
  }
  
  
  
  .navbar .btn {
    margin-left: 10px;
  }
  
  .custom-section {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .offcanvas-custom {
    width: 600px !important;
    border-radius: 10px;
  }
  
 
  
  
  .dropdown-toggle::after {
    display: none;
  }
  
 
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .tittle-header {
    color: #000000;
    text-align: left;
    font-family: var(--large-paragraph-1-l-bold-font-family,
        "Roboto-Bold",
        sans-serif);
    font-size: var(--large-paragraph-1-l-bold-font-size, 24px);
    line-height: var(--large-paragraph-1-l-bold-line-height, 32px);
    font-weight: var(--large-paragraph-1-l-bold-font-weight, 700);
    position: relative;
  }
  
  .sub-tittle {
    color: #000000;
    text-align: left;
    font-family: var(--large-paragraph-3-l-font-family,
        "Roboto-Regular",
        sans-serif);
    font-size: var(--large-paragraph-3-l-font-size, 16px);
    line-height: var(--large-paragraph-3-l-line-height, 24px);
    font-weight: var(--large-paragraph-3-l-font-weight, 400);
    position: relative;
  }
  
  .dropdown-item {
    background: var(--gradient-high-gg,
        linear-gradient(116.1deg,
          rgba(235, 240, 242, 1) 0%,
          rgba(206, 218, 242, 1) 100%));
    color: var(--color-on-surface-variant, #494951);
    font-family: var(--large-paragraph-2-l-font-family, "Roboto-Regular", sans-serif);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown-item i {
    margin-right: 20px;
  }
  
  .dropdown-menu {
    background: var(--gradient-high-gg,
        linear-gradient(116.1deg,
          rgba(235, 240, 242, 1) 0%,
          rgba(206, 218, 242, 1) 100%));
    border-radius: 16px;
    padding: 16px;
    cursor: pointer;
  }