<app-header [buttonElementList]="buttonElementList"></app-header>
<div class="container mt-5">
    <hr>
    <h2 class="text-center mt-5">Librería de estilos</h2>
    <hr>
    <div class="card-title">
        <h5>button </h5>
    </div>

    <div id="containerButton">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn elevated-button mb-3 w-100">
                    <div class="icon">
                        <i class="bi bi-plus-lg" aria-hidden="true"></i>
                    </div>
                    Elevated
                    <div class="icon">
                        <i class="bi bi-person-circle" aria-hidden="true"></i>
                    </div>
                </button>

                <button type="button" class="btn elevated-button mb-3 w-100" disabled>
                    <div class="icon">
                        <i class="bi bi-plus-lg" aria-hidden="true"></i>
                    </div>
                    Elevated
                    <div class="icon">
                        <i class="bi bi-person-circle" aria-hidden="true"></i>
                    </div>
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn filled-button mb-3 w-100">
                    <div class="icon">
                        <i class="bi bi-plus-lg" aria-hidden="true"></i>
                    </div>
                    Filled
                    <div class="icon">
                        <i class="bi bi-person-circle" aria-hidden="true"></i>
                    </div>
                </button>

                <button type="button" class="btn filled-button  mb-3 w-100 " disabled>
                    <div class="icon">
                        <i class="bi bi-plus-lg" aria-hidden="true"></i>
                    </div>
                    Filled
                    <div class="icon">
                        <i class="bi bi-person-circle" aria-hidden="true"></i>
                    </div>
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn filled-tonal-button mb-3 w-100">
                    <div class="icon">
                        <i class="bi bi-plus-lg" aria-hidden="true"></i>
                    </div>
                    Filled tonal
                </button>

                <button type="button" class="btn filled-tonal-button mb-3 w-100 " disabled>
                    <div class="icon">
                        <i class="bi bi-plus-lg" aria-hidden="true"></i>
                    </div>
                    Filled tonal
                </button>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn outlined-button mb-3 w-100">
                    <div class="icon">
                        <i class="bi bi-plus-lg" aria-hidden="true"></i>
                    </div>
                    Outlined
                </button>

                <button type="button" class="btn outlined-button mb-3 w-100" disabled>
                    <div class="icon">
                        <i class="bi bi-plus-lg" aria-hidden="true"></i>
                    </div>
                    Outlined
                </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn text-button mb-3 w-100">
                    <div class="icon">
                        <i class="bi bi-plus-lg" aria-hidden="true"></i>
                    </div>
                    Text
                </button>

                <button type="button" class="btn text-button mb-3 w-100" disabled>
                    <div class="icon">
                        <i class="bi bi-plus-lg" aria-hidden="true"></i>
                    </div>
                    Text
                </button>
            </div>

            <div class="col-md-4">
                <button type="button" class="btn icon-button mb-3">
                    <div class="icon">
                        <i class="bi bi-plus-lg" aria-hidden="true"></i>
                    </div>
                </button>

                <button type="button" class="btn icon-button mb-3" disabled>
                    <div class="icon">
                        <i class="bi bi-plus-lg" aria-hidden="true"></i>
                    </div>
                </button>
            </div>

        </div>
    </div>


    <hr>
    <div class="card-title">
        <h5>Input </h5>
    </div>

    <div id="containerInput">
        <div class="row">
            <div class="col-md-6">
                <div class="float-label-container p-0 mb-3">
                    <input type="number" id="defaultInput" placeholder=" " class="form-control w-100">
                    <label for="defaultInput">Default input</label>
                    <div class="text-input-message">
                        Ejemplo de texto de ayuda
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="float-label-container p-0 mb-3">
                    <input type="text" id="iconInputRight" placeholder=" " class="form-control w-100  ">
                    <label for="iconInputRight">Icon Input Right</label>
                    <div class="icon-right">
                        <i class="bi bi-eye"></i>
                    </div>
                    <div class="text-input-message">
                        Ejemplo de texto de ayuda
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="float-label-container p-0 mb-3">
                    <input type="text" id="iconInputRightLeft" placeholder=" " class="form-control w-100 img-icon-left">
                    <label for="iconInputRightLeft" class="img-icon-left">Icon Input Left-Right</label>

                    <div class="icon-left">
                        <i class="bi bi-person-circle" aria-hidden="true"></i>
                    </div>

                    <div class="icon-right">
                        <i class="bi bi-eye"></i>
                    </div>
                    <div class="text-input-message">
                        Ejemplo de texto de ayuda
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="float-label-container p-0 mb-3">
                    <input type="text" id="iconInputRightLeftError" placeholder=" "
                        class="form-control w-100 img-icon-left error">
                    <label for="iconInputRightLeftError" class="img-icon-left">Icon Input Left-Right</label>
                    <div class="icon-left">
                        <i class="bi bi-person-circle" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <i class="bi bi-eye"></i>
                    </div>
                    <div class="text-input-message">
                        Ejemplo mensaje error
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="float-label-container p-0 mb-3">
                    <input type="text" id="inputText1" placeholder=" " class="form-control w-100 img-icon-left"
                        disabled>
                    <label for="inputText1" class="img-icon-left">Icon Input Left-Right</label>

                    <div class="icon-left"><i class="bi bi-person-circle" aria-hidden="true"></i></div>

                    <div class="icon-right">
                        <i class="bi bi-eye"></i>
                    </div>
                    <div class="text-input-message">
                        Ejemplo de texto Disabled
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="float-label-container p-0 mb-3">
                    <input type="text" id="inputText2" placeholder=" " class="form-control w-100 img-icon-left error">
                    <label for="inputText2" class="img-icon-left">Icon Input Left-Right</label>
                    <div class="icon-left">
                        <i class="bi bi-person-circle" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <i class="bi bi-eye"></i>
                    </div>
                    <div class="text-input-message">
                        Ejemplo mensaje error
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="float-label-container p-0 mb-3">
                    <input type="text" id="iconInputRightLeftBuscar" placeholder=" "
                        class="form-control w-100 img-icon-left">
                    <label for="iconInputRightLeftBuscar" class="img-icon-left">Buscar</label>
                    <div class="icon-left">
                        <i class="bi bi-menu-button-wide-fill" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <i class="bi bi-search" aria-hidden="true"></i>
                        <i class="bi bi-person-circle" aria-hidden="true"></i>
                    </div>
                    <div class="text-input-message">
                        Ejemplo mensaje error
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="float-label-container p-0 mb-3">
                    <input type="text" id="iconInputRightLeftBuscar2" placeholder=" "
                        class="form-control w-100 img-icon-left" disabled>
                    <label for="iconInputRightLeftBuscar2" class="img-icon-left">Buscar</label>
                    <div class="icon-left">
                        <i class="bi bi-menu-button-wide-fill" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <i class="bi bi-search" aria-hidden="true"></i>
                        <i class="bi bi-person-circle" aria-hidden="true"></i>
                    </div>
                    <div class="text-input-message">
                        Ejemplo mensaje error
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                <div class="float-label-container p-0 mb-3">
                    <input type="date" id="inputDate1" placeholder=" " class="form-control w-100  ">
                    <label for="inputDate1">Input Date</label>
                    <div class="text-input-message">
                        Ejemplo de texto de ayuda
                    </div>
                </div>
                <div class="float-label-container p-0 mb-3">
                    <input type="date" id="inputDate1" placeholder=" " class="form-control w-100  " disabled>
                    <label for="inputDate1">Input Date</label>
                    <div class="text-input-message">
                        Ejemplo de texto de ayuda
                    </div>
                </div>
            </div>

            <div class="col-md-6">


                <div class="float-label-container p-0 mb-3">
                    <input type="date" id="inputDate2" placeholder=" " class="form-control w-100 img-icon-left"
                        disabled>
                    <label for="inputDate2" class="img-icon-left">Input Date Icon Left</label>
                    <div class="icon-left">
                        <i class="bi bi-person-circle" aria-hidden="true"></i>
                    </div>
                    <div class="text-input-message">
                        Ejemplo de texto de ayuda
                    </div>
                </div>
            </div>
        </div>
    </div>



    <hr>
    <div class="card-title">
        <h5>Text Area </h5>
    </div>

    <div id="containerTextArea">
        <div class="row">
            <div class="col-md-6">
                <div class="float-label-container p-0 mb-3">
                    <textarea name="" id="defaultTextArea" cols="30" rows="5" class="form-control w-100"></textarea>
                    <label for="defaultTextArea">Default Text Area</label>
                    <div class="text-input-message">
                        Ejemplo de texto de ayuda
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="float-label-container p-0 mb-3">
                    <textarea name="" id="defaultTextAError" cols="30" rows="5"
                        class="form-control w-100 error"></textarea>
                    <label for="defaultTextAError">Default Text Area</label>
                    <div class="text-input-message">
                        Ejemplo de texto de ayuda
                    </div>
                </div>
            </div>
        </div>
    </div>



    <hr>
    <div class="card-title">
        <h5>Select - Dropdown</h5>
    </div>

    <div id="containerSelect">
        <div class="row">
            <div class="col-md-6">
                <div class="float-label-container p-0 mb-3">
                    <select id="defaultSelect" class="form-control w-100 img-icon-left">
                        <option value="" disabled selected hidden>Seleccione una opción</option>
                        <option value="">Opcion 1</option>
                        <option value="">Opcion 2</option>
                        <option value="">Opcion 3</option>
                        <option value="">Opcion 4</option>
                        <option value="">Opcion 5</option>
                        <option value="">Opcion 6</option>
                    </select>

                    <div class="icon-left">
                        <i class="bi bi-globe" aria-hidden="true"></i>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="float-label-container p-0 mb-3">
                    <select id="defaultSelect2" class="form-control w-100 img-icon-left">
                        <option value="" disabled selected hidden>Seleccione una opción</option>
                        <option value="">Opcion 1</option>
                        <option value="">Opcion 2</option>
                        <option value="">Opcion 3</option>
                        <option value="">Opcion 4</option>
                        <option value="">Opcion 5</option>
                        <option value="">Opcion 6</option>
                    </select>
                    <label for="defaultSelect" class="img-icon-left">Select Label</label>
                    <div class="icon-left">
                        <i class="bi bi-globe" aria-hidden="true"></i>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12 col-md-4 col-lg-4"> 
                <!-- INICIO SELECT OPTION GOBGEO 1 -->
                <div class="card select-option"
                    (click)="selectOption1.checked=!selectOption1.checked">
                    <input type="checkbox" #selectOption1 class="d-none">
                    <label for="toggleDiv" class="card-body p-1" style="cursor: pointer;">
                        
                        <div class="row">
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <ng-container *ngIf="elementoSeleccionado.valor!=''">
                                    <i class="bi bi-circle text-primary"></i>
                                </ng-container>
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-8">
                                        <label class="option-select-tittle mx-1 pt-2">{{elementoSeleccionado.valor 
                                            }}</label>
                                    </div>
                                    <div class="col-4 text-end">
                                        <i class="bi"
                                            [ngClass]="{'bi-chevron-up': selectOption1.checked, 'bi-chevron-down': !selectOption1.checked}"></i>
                                    </div>
                                </div>
                                <label class="descripcion-tipo-solicitud my-1 mx-1">
                                    <ng-container *ngIf="elementoSeleccionado.valor!=''">
                                        {{elementoSeleccionado.descripcion}}
                                    </ng-container>
                                </label>
                            </div>
                        </div>
                    </label>
                    <div *ngIf="selectOption1.checked" class="option-select-choice" >
                        <div class="card card-lista-tipo-solicitud">
                            <div class="card-body">
                                <!-- OPTIONS -->
                                <div class="option-select">
                                    <div *ngFor="let element of  optionsSelect" class="card   mt-1">
                                        <div class="card-body p-1 " (click)="seleccionarElemnto(element,1)">
                                            <div class="row">
                                                <div class="col-3 d-flex justify-content-center align-items-center">
                                                    <i class="bi bi-circle text-primary"></i>
                                                </div>
                                                <div class="col-9">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <label
                                                                class="option-select-tittle mx-1 pt-2">{{element.valor}}</label>
                                                        </div>
                                                    </div>
                                                    <label class="descripcion-tipo-solicitud my-1 mx-1">{{element.descripcion}}</label>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIN SELECT OPTION GOBGEO 1 -->
            </div>
        </div>
    </div>


    <hr>
    <div id="containerCheckbox" class="card-title">
        <h5>Checkbox </h5>
    </div>

    <div >
        <div class="row">
            <div class="col-md-6">
                <div class="container-checkbox">
                    <input type="checkbox" name="" id="checkboxDefault1" checked>
                    <div class="highlight-circle"> </div>
                    <div class="checkbox-text">Checkbox</div>
                </div>

                <div class="container-checkbox my-3">
                    <input type="checkbox" name="" id="checkboxDefault1_1">
                    <div class="highlight-circle"> </div>
                    <div class="checkbox-text">Checkbox</div>
                </div>
            </div>

            <div class="col-md-6 ">
                <div class="container-checkbox">
                    <input type="checkbox" name="" id="checkboxDefault2" checked disabled>
                    <div class="highlight-circle"> </div>
                    <div class="checkbox-text">Checkbox Disabled</div>
                </div>
                <div class="container-checkbox my-3">
                    <input type="checkbox" name="" id="checkboxDefault2_1" disabled>
                    <div class="highlight-circle"> </div>
                    <div class="checkbox-text">Checkbox Disabled</div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="card-title">
        <h5>Radio Button </h5>
    </div>
    <div id="containerRadioButton">
        <div class="row">
            <div class="col-md-6 my-3">

                <div class="container-radio my-3">
                    <input type="radio" id="opcion1" name="opciones" />
                    <div class="highlight-circle"> </div>
                    <div class="radio-text">Radio Buton 1</div>
                </div>

                <div class="container-radio">
                    <input type="radio" id="opcion2" name="opciones" />
                    <div class="highlight-circle"> </div>
                    <div class="radio-text">Radio Buton 2</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="container-radio">
                    <input type="radio" name="radioDisable" id="" checked disabled>
                    <div class="highlight-circle"> </div>
                    <div class="radio-text">Radio Buton 1</div>
                </div>
                <div class="container-radio my-3">
                    <input type="radio" name="radioDisable" id="" disabled>
                    <div class="highlight-circle"> </div>
                    <div class="radio-text">Radio Buton 2</div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="card-title">
        <h5>Cards </h5>
    </div>

    <div id="containerCard">
        <div class="row">
            <div class="col-lg-4 my-3">
                <div class="card shadow">
                    <img class="card-img-top" src="assets/img/imagen-card.png" alt="">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <div class="letter-background-round bg-color-secondary">
                                    A
                                </div>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title ">Title</h4>
                                <h6 class="card-subtitle color-tertiary  ">Subtitle</h6>
                            </div>
                            <div class="col-2 ">
                                <a style="float: right;"><i class="bi bi-ellipsis-v"></i></a>
                            </div>
                        </div>

                        <h4 class="card-title h5 h4-sm my-0">Top image</h4>
                        <h5 class="card-title h6 h5-sm my-0">Top image</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus possimus cum!
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="button" class="btn outlined-button mb-3 w-100">
                                    Outlined
                                </button>
                            </div>
                            <div class="col-lg-6">
                                <button type="button" class="btn filled-button-sc mb-3 w-100">
                                    Button
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 my-3">
                <div class="card shadow flex-lg-row">
                    <img class="card-img-lg-left card-img-md-top card-img-sm-top"
                        src="assets/img/imagen-card.png" alt="" />
                    <div class="card-body">

                        <div class="row">
                            <div class="col-2">
                                <div class="letter-background-round bg-color-secondary">
                                    A
                                </div>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title ">Title</h4>
                                <h6 class="card-subtitle color-tertiary  ">Subtitle</h6>
                            </div>
                            <div class="col-2 ">
                                <a style="float: right;"><i class="bi bi-ellipsis-v"></i></a>
                            </div>
                        </div>
                        <h4 class="card-title h5 h4-sm my-0">Left image</h4>
                        <h5 class="card-title h6 h5-sm my-0">Left image</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus possimus cum!
                        </p>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <button type="button" class="btn outlined-button mb-3 w-100">
                                    Outlined
                                </button>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <button type="button" class="btn filled-button-sc mb-3 w-100">
                                    Button
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <hr>
    <div class="card-title">
        <h5>Modal Dialog </h5>
    </div>

    <div id="containerModal01">
        <!-- Large modal -->
        <button type="button" class="btn outlined-button my-3" data-bs-toggle="modal"
            data-bs-target=".bd-example-modal-lg">
            <div class="icon">
                <i class="bi bi-window-maximize" aria-hidden="true"></i>
            </div> Large modal
        </button>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="false"
            data-bs-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <a class="color-primary-container text-end mx-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-times" aria-hidden="true"></i>
                    </a>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center ">
                                <a class="color-secondary"><i class="bi bi-arrow-circle-down "> </i> </a>
                            </div>
                            <div class="col-md-4 text-right">

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3>Headine</h3>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                        </p>
                        <hr />
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        Accordion Item #1
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Placeholder content for this accordion, which is
                                        intended to demonstrate the <code>.accordion-flush</code> class. This is the
                                        first item's accordion body.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                        Accordion Item #2
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Placeholder content for this accordion, which is
                                        intended to demonstrate the <code>.accordion-flush</code> class. This is the
                                        second item's accordion body. Let's imagine this being filled with some actual
                                        content.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                        Accordion Item #3
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Placeholder content for this accordion, which is
                                        intended to demonstrate the <code>.accordion-flush</code> class. This is the
                                        third item's accordion body. Nothing more exciting happening here in terms of
                                        content, but just filling up the space to make it look, at least at first
                                        glance, a bit more representative of how this would look in a real-world
                                        application.</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">

                                <button type="button" class="btn  outlined-button mb-3 w-100" data-bs-dismiss="modal"
                                    aria-label="Close">
                                    Cancel
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn filled-button-sc mb-3 w-100">
                                    Accept
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="containerModal02">
        <!-- Small modal -->
        <button type="button" class="btn filled-button-sc my-3" data-bs-toggle="modal"
            data-bs-target=".bd-example-modal-sm">
            <div class="icon">
                <i class="bi bi-window-maximize" aria-hidden="true"></i>
            </div>
            Small modal
        </button>

        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="false"
            data-bs-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <a class="color-primary-container text-end mx-2" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-times" aria-hidden="true"></i>
                    </a>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-center ">
                                <a class="color-secondary"><i class="bi bi-arrow-circle-down "> </i> </a>
                            </div>
                            <div class="col-md-4"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3>Headine</h3>
                            </div>
                        </div>


                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore
                        </p>
                        <hr />

                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        Accordion Item #1
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Placeholder content for this accordion, which is
                                        intended to demonstrate the <code>.accordion-flush</code> class. This is the
                                        first item's accordion body.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                        Accordion Item #2
                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Placeholder content for this accordion, which is
                                        intended to demonstrate the <code>.accordion-flush</code> class. This is the
                                        second item's accordion body. Let's imagine this being filled with some actual
                                        content.</div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                        Accordion Item #3
                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">Placeholder content for this accordion, which is
                                        intended to demonstrate the <code>.accordion-flush</code> class. This is the
                                        third item's accordion body. Nothing more exciting happening here in terms of
                                        content, but just filling up the space to make it look, at least at first
                                        glance, a bit more representative of how this would look in a real-world
                                        application.</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">

                                <button type="button" class="btn text-button mb-3 w-100" data-bs-dismiss="modal"
                                    aria-label="Close">
                                    Cancel
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn text-button mb-3 w-100">
                                    Accept
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr>
    <div class="card-title">
        <h5>toggle switch </h5>
    </div>

    <div class="row">
        <div class="col-md-6 my-3">
            <div id="containerSwitch">
                <label class="switch">
                    <input type="checkbox" checked>
                    <div class="switch-body">
                        <div class="selector"></div>
                        <div class="slider">
                            <i class="bi bi-check"></i>
                        </div>
                    </div>
                </label> Swich checked

                <label class="switch">
                    <input type="checkbox" checked disabled>
                    <div class="switch-body">
                        <div class="selector"></div>
                        <div class="slider">
                            <i class="bi bi-check"></i>
                        </div>
                    </div>
                </label> Swich checked disabled
            </div>
        </div>
    </div>



    <div id="containerTable">
        <table class="table-big-data  my-3" aria-describedby="Tabla de ...">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Tipo</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>field</td>
                    <td>field</td>
                    <td>field</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <div class="switch-body">
                                <div class="selector"></div>
                                <div class="slider">
                                    <i class="bi bi-check"></i>
                                </div>
                            </div>
                        </label>
                    </td>
                    <td>
                        <button type="button" class="btn action-button bg-color-secondary-2 mb-3 ">
                            <i class="bi bi-pencil img1"></i>
                            <i class="bi bi-pencil-fill img2"></i>
                        </button>
                        <button type="button" class="btn action-button bg-color-on-tertiary-container mb-3 ">
                            <i class="bi bi-eye img1"></i>
                            <i class="bi bi-eye-fill img2"></i>
                        </button>
                        <button type="button" class="btn action-button bg-color-error mb-3 ">
                            <i class="bi bi-trash img1"></i>
                            <i class="bi bi-trash-fill img2"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>field</td>
                    <td>field</td>
                    <td>field</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <div class="switch-body">
                                <div class="selector"></div>
                                <div class="slider">
                                    <i class="bi bi-check"></i>
                                </div>
                            </div>
                        </label>
                    </td>
                    <td>
                        <button type="button" class="btn action-button bg-color-secondary-2 mb-3 ">
                            <i class="bi bi-pencil img1"></i>
                            <i class="bi bi-pencil-fill img2"></i>
                        </button>
                        <button type="button" class="btn action-button bg-color-on-tertiary-container mb-3 ">
                            <i class="bi bi-eye img1"></i>
                            <i class="bi bi-eye-fill img2"></i>
                        </button>
                        <button type="button" class="btn action-button bg-color-error mb-3 ">
                            <i class="bi bi-trash img1"></i>
                            <i class="bi bi-trash-fill img2"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>field</td>
                    <td>field</td>
                    <td>field</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <div class="switch-body">
                                <div class="selector"></div>
                                <div class="slider">
                                    <i class="bi bi-check"></i>
                                </div>
                            </div>
                        </label>
                    </td>
                    <td>
                        <button type="button" class="btn action-button bg-color-secondary-2 mb-3 ">
                            <i class="bi bi-pencil img1"></i>
                            <i class="bi bi-pencil-fill img2"></i>
                        </button>
                        <button type="button" class="btn action-button bg-color-on-tertiary-container mb-3 ">
                            <i class="bi bi-eye img1"></i>
                            <i class="bi bi-eye-fill img2"></i>
                        </button>
                        <button type="button" class="btn action-button bg-color-error mb-3 ">
                            <i class="bi bi-trash img1"></i>
                            <i class="bi bi-trash-fill img2"></i>
                        </button>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>