.select-option{
    border-radius: 8px;
}
.option-select {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: none; /* For Firefox */
}

.option-select::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
.option-select .card {
    background: var(--gradient-high-gg,
            linear-gradient(116.1deg,
                rgba(235, 240, 242, 1) 0%,
                rgba(206, 218, 242, 1) 100%));
    padding: 8px;
    border-radius: 8px;

}

.option-select-tittle {
    color: var(--color-on-surface, #18181c) !important;
    font-family: var(--large-paragraph-2-l-font-family,
            "Roboto-Regular",
            sans-serif) !important;
    font-size: var(--large-paragraph-2-l-font-size, 18px) !important;
    line-height: var(--large-paragraph-2-l-line-height, 24px) !important;
    font-weight: bold !important;
}


.option-select-choice {
    position: absolute;
    padding: 10px;
    z-index: 100;
    display: block;
    height: auto;
    width: 100%;
    background-color: transparent;
    left: 16px;
    bottom: 10px;
}